body {
    font-family: 'Oswald', sans-serif;
    background: #F6F3EE
}
h1 {
    font-weight: bold;
    letter-spacing: 3px;
}
#home-header{
    width: 100%;
    text-align: center;
    margin-top: 10vh
}
/*.heading {
    margin-top: 10%;
    margin-left: 27%;
    /*text-align: center*/
}*/
#account-price {
    margin-left: 15%
}
#fbLogin {
    width: 175px;
    height: 65px;
    margin-top: 10px
}
#hamburger {
    /*width: 30px;*/
    /*height: 30px;*/
    margin-left: 25px;
    margin-top: 30px
}
#hamburger_container {
    float: left
}

#navbar {
    background: #1E89D1;
    height: 85px;
    width: 100%;
    margin-left: none
}
#h4 {
    margin-top: 25px;
    font-weight: 100
}

.streaming-logo {
    width: 15vw;
    height: 18vh;
    margin-left: 2vw;
    margin-top: 50px;
    border-radius: 5%
}
.streaming-logo-1 {
    width: 15vw;
    height: 18vh;
    margin-top: 50px;
    border-radius: 5%
}

@media (max-width: 792px) {
    .streaming-logo {
        width: 17.5vw;
        height: 16.5vh;
        margin-left: 2vw;
        margin-top: 50px;
        border-radius: 5%
    }
    .streaming-logo-1 {
        width: 17.5vw;
        height: 16.5vh;
        margin-top: 50px;
        border-radius: 5%
    }
}

@media (max-width: 450px) {
    .streaming-logo {
        width: 14.5vw;
        height: 10.5vh;
        margin-left: 2vw;
        margin-top: 50px;
        border-radius: 5%
    }
    .streaming-logo-1 {
        width: 14.5vw;
        height: 10.5vh;
        margin-top: 50px;
        border-radius: 5%
    }
}


#account-logo-container {
    width: 100vw;
    margin-left: none
}

#fb-login-link {
    margin-left: 75vw;
    position: absolute;
}

.nav-link{
    display: block;
    padding-left: 25%
}

#nav-toolbar {
    background: #1E89D1;
    height: 85px
}
#sidenav-content {
    background: #F6F3EE;
    height: 100vh ;
}
#close-button {
    margin-left: 25%;
    width: 20%;
    margin-left: 72%
}
#user-image {
    border-radius: 50%;
    height: 80px;
    width: 80px
}
#stripe-agreement {
    width: 60%;
    margin-right: 19%;
}
.invite-clipboard {
    margin-top: 25px
}