<div class='heading'>
    <div id="home-header">
        <h1>Welcome to StreamBuddies</h1>
        <h4 id="h4">Split up streaming subscriptions with friends and family!</h4>
          <img class="streaming-logo-1" src="../images/hbo.png" alt="">
    <img class="streaming-logo" src="../images/hulu.jpeg" alt="">
    <img class="streaming-logo" src="../images/hulu-showtime.jpeg" alt="">
    <img class="streaming-logo" src="../images/netflix.jpeg" alt="">
    </div>
</div>
<div id="account-logo-container">
  
</div>

