<div class='heading'>
    <div id="home-header">
        <h1>Welcome to StreamBuddies</h1>
        <h4 id="h4">Split up streaming subscriptions with friends and family!</h4>
        <h5>It's easy</h5>
        <h5>Step 1: Login</h5>
        <h5>Step 2: Add a card to send and accept payments</h5>
        <h5>Step 3: Start adding accounts</h5>
        <h5>Step 4: Invite your friends and start splitting subscriptions</h5>
          <img class="streaming-logo-1" src="../images/hbo.png" alt="">
    <img class="streaming-logo" src="../images/hulu.jpeg" alt="">
    <img class="streaming-logo" src="../images/hulu-showtime.jpeg" alt="">
    <img class="streaming-logo" src="../images/netflix.jpeg" alt="">
    </div>
</div>

