<div class='heading'>
    <div class="container">
        <ng-include src=" 'partials/progress.bar.html' "></ng-include>
        <div id="left-pane" class="col-md-4">
            <h3> Dashboard</h3>
            <img id="user-image" ng-src="{{user.picture}}" alt="">
            <md-button id="add-account-button" ng-disabled="cardAdded" ng-click="newAccount($event)">
                Add Account
            </md-button>
            <md-button ng-click="showPrompt($event)">
                Add a card
            </md-button>
        </div>
        <div id="right-pane" class="col-md-7 center">
            <h3 id="account-card-title">Accounts</h3>
            <div id="account-card">
                <div  ng-repeat = 'account in userAccounts'>
                    <a id="dashboard-account-name" ng-href="#/user/accounts/{{account._id}}">
                        {{account.name}}
                    </a>
                    <h5>Contributors</h5>
                    <div class="contributor-card" ng-repeat="contributor in account.contributors">
                        <img class="contributor-card-image" ng-src="{{contributor.picture}}" alt="">
                        <h5 class="dashboard-account-contrib" >
                            <span class="contributor-card-description">{{contributor.name}} {{contributor.contribution}}</span>
                        </h5>
                    </div>
                </div>
            </div>
            <h3 id="subscription-card-title">Subscriptions</h3>
            <div id="subscription-card">
                <div  ng-repeat = 'subscription in userSubscriptions'>
                    <a id="dashboard-subscription-name" ng-href="#/user/accounts/{{subscription._id}}">
                        {{subscription.name}}
                    </a>
                    <h5>Contributors</h5>
                    <div class="contributor-card" ng-repeat="contributor in subscription.contributors">
                        <img class="contributor-card-image" ng-src="{{contributor.picture}}" alt="">
                        <h5 class="dashboard-account-contrib" >
                            <span class="contributor-card-description">{{contributor.name}} {{contributor.contribution}}</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
