      <!--sidenav-->
      <div ng-controller="SideNavCtrl">

    <section layout="row" flex="">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

      <md-toolbar id="nav-toolbar">
          <md-button ng-click="toggleLeft()" id="close-button" class="md-accent">
          Close
          </md-button>
      </md-toolbar>

      <md-content id="sidenav-content">
        <div class="nav-link"><md-button><a href="#/">Home</a></md-button ></div>
        <div class="nav-link"><md-button><a target='_self' href="/logout">Logout</a></md-button></div>
        <div ngShow="loggedIn" class="nav-link"><md-button><a href="#/profile">Profile</a></md-button></div>
        <div class="nav-link"><md-button><a href="#/invites">Invites</a></md-button></div>
      </md-content>

    </md-sidenav>

      <div id="navbar">
        <!--<div class="container">-->
          <!--<div  layout-align="top left">-->
          <!--<div id="hamburger_container">-->
            <md-button id="hamburger" ng-click="toggleLeft()">Menu</md-button>
          <!--</div>-->
          <a id="fb-login-link" layout-align="top right" target="_self" href="/login/facebook"><img id="fbLogin" src="../images/login-button-png-18039.png" alt=""></a>
        <!--</div>-->
        <!--</div>-->
        
      </div>

  </section>

   </div>