      <!--sidenav-->
      <div ng-controller="SideNavCtrl">

    <section layout="row" flex="">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
      </md-toolbar>

      <md-content layout-margin="">
        <li class="active"><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/profile">Profile</a></li>
        <li><a href="#/invites">Invites</a></li>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Close this Sidenav
        </md-button>
      </md-content>

    </md-sidenav>

    <md-content flex="" layout-padding="">

      <div layout="column" layout-align="top center">
        <div>
          <md-button ng-click="toggleLeft()" class="md-raised">
            Toggle Sidenav
          </md-button>
        </div>

      </div>

    </md-content>

  </section>

   </div>