<div id="account-main-pane" class="container">
    <h1>{{myAccount.name}}</h1>
    <h4>Email: </h4> <h3> {{myAccount.email}}</h3>
    <h4>Password: </h4> <h3>{{myAccount.password}}</h3>

    <div class="invite-clipboard">
        <md-input-container>
            <h3>Invite Link</h3>
            <input id="invite-link" value="https://still-ocean-92666.herokuapp.com/#/user/accounts/invite/{{myAccount._id}}">
            <md-button class="clipboard-btn" data-clipboard-target="#invite-link">
                    Copy to clipboard
            </md-button>
        </md-input-container>
    </div>
        <md-input-container>
         <div>
            <md-button ng-show="ownsAccount" ng-click="share()">
                Share on Facebook
            </md-button>
        </div>
        </md-input-container>
</div>