<div class="container">
    <h1>{{myAccount.name}}</h1>
    <h3>{{myAccount.email}}</h3>
    <h3>{{myAccount.password}}</h3>

    <div class="invite-clipboard">
        <md-input-container>
            <h5>Invite Link</h5>
        <div>
        <input id="invite-link" value="https://still-ocean-92666.herokuapp.com/#/user/accounts/invite/{{myAccount._id}}">
        <md-button class="clipboard-btn" data-clipboard-target="#invite-link">
            Copy to clipboard
        </md-button>
         <div>
            <md-button ng-show="ownsAccount" ng-click="share()">
                Share on Facebook
            </md-button>
        </div>
        </div>
        </md-input-container>
    <!-- Trigger -->
    </div>

</div>