extends layout.pug
block content
    form(method='POST')
      .heading
        .form-group
          label(for='name') Email
          input.form-control#email(type='email' name='email' placeholder='you@example.com')
        .form-group
          label(for='email') Password
          input.form-control#password(type='password' name='password') 
        .form-group
          label(for='size') Account type
          select.form-control#account(name='account')
            option Select a account:
            each account in accounts
              option(value=account) #{account.name}: #{account.price}"
        .order-form__submit
          a.btn.btn-danger.btn-lg(href='/') Cancel
          input.btn.btn-success.btn-lg(type='submit' value='Submit')